body{
    margin: 0;
    background-color: #31b0d5;
    
}
.footer{
/*                position: fixed; 
    bottom: 0; */
    width: 100%; 
    padding: 20px;
    font-weight: bold;
    background-color:  #23527c;
    color: #ffffff;
}
.navbar .container ul li a{
    color: #ffffff;
    /*font-weight: bold;*/
}
.navbar .container ul li a:hover{
    color: #ffffff;
    background-color: #000;
}
.navbar .container div a{
    color: #ffffff;
    /*font-weight: bold;*/
}
.navbar .container div a:hover{
    color: #ffffff;
    background-color: #000;
}